root = true

[*]
charset = utf-8
indent_style = tab
indent_size = 4
tab_width = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100

# For JetBrains IDEs
ij_smart_tabs = true
ij_continuation_indent_size = 4
ij_visual_guides = 80, 100, 108, 120, 140, 160
ij_wrap_on_typing = false

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_style = space
indent_size = 2
